<!-- footer part start -->
<section class="footer_part">
    <div class="footer_img_shape">
        <img src="../../assets/images/shape-02.png" class="img-fluid" alt="" />
    </div>
    <div class="mobile_shape_footer d-none"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="footer_top_content">
                    <div class="footer_img_shape_2">
                        <img src="../../assets/images/shape-01.png" class="img-fluid" alt="" />
                    </div>
                    <div class="footer_img_shape_3">
                        <img src="../../assets/images/shape-01.png" class="img-fluid" alt="" />
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-lg-6">
                            <div class="footer_top_title">
                                <h3>Get Ready to started?</h3>
                                <p>
                                    Contact with confortable time space and start project.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="banner_btn">
                                <a [routerLink]="['/contact']"> <span></span>Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer_bottom justify-content-center">
            <div class="col-lg-1 col-md-12"></div>
            <div class="col-lg-3 col-md-6">
                <div class="footer_left">
                    <div class="logo">
                        <h1><a [routerLink]="['/home']" >Coddez</a></h1>
                    </div>
                    <p>
                        Passionate on this field and trying to achieve the best that can possible.
                    </p>
                    <h3> WhatsApp: +880 17 4432 0509</h3>
                    <img src="../../assets/images/envelope.svg" alt="" />
                    <h4>
                        asm509sohan@gmail.com
                    </h4>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer_second_part">
                    <h3>Quick Link</h3>
                    <ul>
                        <li><a [routerLink]="['/solutions']" >Solutions</a></li>
                        <li><a [routerLink]="['/skill']">Practicing Skills</a></li>
                        <li><a [routerLink]="['/portfolio']">Gallery</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer_second_part">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="https://medium.com/swlh/ui-ux-design-guide-with-terms-explanations-tips-and-trends-754b9356d914">UI/UX Design</a></li>
                        <li><a href="https://medium.com/@kamranahmedse/modern-frontend-developer-in-2018-4c2072fa2b9c">Front-end dev</a></li>
                        <li><a href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api?view=aspnetcore-3.0&tabs=visual-studio">Back-end API</a></li>
                        <li><a href="https://docs.microsoft.com/en-us/aspnet/web-forms/overview/getting-started/getting-started-with-aspnet-45-web-forms/aspnet-error-handling">Error Handling</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer_last">
                    <h3>Social Link</h3>
                    <p>West Dhanmondi Housing, Boshila, Mohammadpur, Dhaka 1207</p>
                    <div class="icons_list">
                        <div class="icons">
                            <a href="https://www.facebook.com/asm509sohan"><img src="../../assets/images/facebook.svg" alt="" /></a>
                        </div>
                        <div class="icons">
                            <a href="https://twitter.com/asm509sohan"><img src="../../assets/images/twitter.svg" alt="" /></a>
                        </div>
                        <div class="icons">
                            <a href="https://join.skype.com/invite/fT54ZZY766YH"><img src="../../assets/images/skype.svg" alt="" /></a>
                        </div>
                        <div class="icons">
                            <a href="https://www.linkedin.com/in/asm-sohan"><img src="../../assets/images/linkedin.svg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 text-center">
                <hr />
                <p>
                    &copy; 2019 Coddez. All Right Reserved.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- footer part end -->