<div class="solutions_part">
    <div class="ui_design">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-lg-1 order-2">
                    <div class="ui_design_content">
                        <h2>UI/UX Design</h2>
                        <p>
                            Design defines the success of most software products. And 
                            software development discovers new ways to use the design 
                            for various products.The effectiveness of the application is 
                            measured by the optimum combination of functionality and 
                            attractiveness.
                        </p>

                        <div class="list_item">
                            <div class="row">
                                <div class="col-lg-1 col-1">
                                    <div class="check_mark">
                                        <img src="assets/images/check.png" alt="" />
                                    </div>
                                </div>
                                <div class="col-lg-11 col-10">
                                    <h4>Facilitating intricate tasks and workflows.</h4>
                                </div>
                            </div>
                        </div>
                        <div class="list_item">
                            <div class="row">
                                <div class="col-lg-1 col-1">
                                    <div class="check_mark">
                                        <img src="assets/images/check.png" alt="" />
                                    </div>
                                </div>
                                <div class="col-lg-11 col-10">
                                    <h4>Enabling users to comprehend and manage complex data.</h4>
                                </div>
                            </div>
                        </div>
                        <div class="list_item">
                            <div class="row">
                                <div class="col-lg-1 col-1">
                                    <div class="check_mark">
                                        <img src="assets/images/check.png" alt="" />
                                    </div>
                                </div>
                                <div class="col-lg-11 col-10">
                                    <h4>Accommodating a rich variety of user roles, needs, and processes.</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-2 order-1">
                    <img src="../../assets/images/ui-amination.gif" class="img-fluid ui_img" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="web_design">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <img src="../../assets/images/solutions/web_design.png" class="img-fluid" alt="" />
                </div>
                <div class="col-lg-5">
                    <div class="web_design_content ui_design_content">
                        <h2>Web Design</h2>
                        <p>
                            The success of any website entirely depends on how its 
                            web design is. Whether the designers have taken the utmost
                            care or not while developing it.Good website design needs
                            a wide range of professionals having expertise in different areas.
                        </p>
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        HTML (Hypertext Markup )
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p>
                                    HTML helps in providing elements and content a set of 
                                    logic and instructions on how they must appear on a 
                                    web page browser and what is their significance or Semantic.
                                </p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        CSS (Cascading Style Sheets)
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p>
                                    Develop the overall look of your website, While HTML focuses 
                                    on the content and structure of a website, CSS is concerned 
                                    with elements of presentation such as layout, font and colour.
                                </p>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        JavaScript (scripting language)
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p>
                                    JavaScript allows developers to add interactive features 
                                    that change and update a Web page without reloading a 
                                    new copy of the page from the website.
                                </p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="front_end_development">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-lg-1 order-2">
                    <div class="ui_design_content">
                        <h2>Front-end Development</h2>
                        <p>
                            The wrong type of development not only creates an 
                            unsightly appearance, but also drives away business. 
                            A website's programming and layout needs to factor 
                            in the business purpose, branding and customer 
                            needs to fully support the company itself.
                        </p>
                        <div class="list_item">
                            <div class="row">
                                <div class="col-lg-1 col-1">
                                    <div class="check_mark">
                                        <img src="assets/images/check.png" alt="" />
                                    </div>
                                </div>
                                <div class="col-lg-11 col-10">
                                    <h4>It is all about creativity and creative problem-solving.</h4>
                                </div>
                            </div>
                        </div>
                        <div class="list_item">
                            <div class="row">
                                <div class="col-lg-1 col-1">
                                    <div class="check_mark">
                                        <img src="assets/images/check.png" alt="" />
                                    </div>
                                </div>
                                <div class="col-lg-11 col-10">
                                    <h4>Manages everything that users visually see first in their browser or application</h4>
                                </div>
                            </div>
                        </div>
                        <div class="front_icon text-center">
                            <img src="../../assets/images/angular_icon.svg" alt="">
                            <h5>Angular</h5>
                        </div>
                        <div class="front_icon front_icon_2 text-center">
                            <img src="../../assets/images/react_icon.png" alt="">
                            <h5>ReactJs</h5>
                        </div>
                        <div class="front_icon text-center">
                            <img src="../../assets/images/vue.png" alt="">
                            <h5>VueJs</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-2 order-1">
                    <img src="../../assets/images/solutions/angular_style_1.png" class="img-fluid front_img" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="back_end_development">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="../../assets/images/solutions/asp-dot-net-application.png" class="img-fluid" alt="" />
                </div>
                <div class="col-lg-6">
                    <div class="ui_design_content">
                        <h2>Back-end Development</h2>
                        <p>
                            Backend development (also stylized as back-end or back end development) 
                            is the skill that powers the web. Yet it does it modestly, without 
                            fanfare—allowing people to browse their favorite sites without even 
                            knowing about all the work put in by the backend developer or team.
                        </p>

                        <div class="list_item">
                            <div class="row">
                                <div class="col-lg-1 col-1">
                                    <div class="check_mark">
                                        <img src="assets/images/check.png" alt="" />
                                    </div>
                                </div>
                                <div class="col-lg-11 col-10">
                                    <h4>Handle the 'behind-the-scenes' functionality of web applications</h4>
                                </div>
                            </div>
                        </div>
                        <div class="list_item">
                            <div class="row">
                                <div class="col-lg-1 col-1">
                                    <div class="check_mark">
                                        <img src="assets/images/check.png" alt="" />
                                    </div>
                                </div>
                                <div class="col-lg-11 col-10">
                                    <h4>Connects the web to a database, manages user connections, and powers the web application itself</h4>
                                </div>
                            </div>
                        </div>
                        <div class="list_item">
                            <div class="row">
                                <div class="col-lg-1 col-1">
                                    <div class="check_mark">
                                        <img src="assets/images/check.png" alt="" />
                                    </div>
                                </div>
                                <div class="col-lg-11 col-10">
                                    <h4>API specifies interface between different systems in terms of frontend and backend</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>