<div class="portfolio_skill_part">
  <div class="portfolio_skill_header">
    <div class="portfolio_skill_header_img">
      <img src="../../assets/images/skill_header.jpg" alt="">
    </div>
    <div class="header_bg d-none">
      <img src="../../assets/images/mobile-img/skill_bg.png" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="skill_content">
            <h2>We are always fond of learning newer and newer things.</h2>
            <p class="skill_paragraph">
              Passionate about work like to meet deadlines, 
              Generate ideas, freedom lovers, innovative
              stars with experience and expertise.
            </p>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="skill_cards">
                  <div class="skill_card_icon">
                    <img src="../../assets/images/elastic.svg" alt="">
                  </div>
                  <div class="skill_cards_content">
                    <h5>Flexible</h5>
                    <p>Open-Minded, Optimistic, Strong Support Network</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="skill_cards">
                  <div class="skill_card_icon">
                    <img src="../../assets/images/employee.svg" alt="">
                  </div>
                  <div class="skill_cards_content">
                    <h5>Dedicated</h5>
                    <p>Consistent, passionate, Keep things in balance.</p>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="skill_cards">
                  <div class="skill_card_icon">
                    <img src="../../assets/images/shield.svg" alt="">
                  </div>
                  <div class="skill_cards_content">
                    <h5>Faithful</h5>
                    <p>Trusty, believer, always take promise.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="skill_cards">
                  <div class="skill_card_icon">
                    <img src="../../assets/images/time.svg" alt="">
                  </div>
                  <div class="skill_cards_content">
                    <h5>Punctual</h5>
                    <p>Time management, formalize expectations.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio_category_part">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="category_title text-center">
            <h3>Some of basic skills that we usually practice for development our skill to next level.</h3>
            <p>
              
            </p>
          </div>
        </div>
      </div>
      <div class="row category_list">
        <div class="col-lg-3 col-md-6">
          <div class="category_cards text-center">
            <div class="category_img">
              <img src="../../assets/images/GSAP.svg" alt="">
            </div>
            <h4>Greensock animation</h4>
            <p>
              Greensock Animation API (GSAP) is an animation library that helps you create performant animations. It can be used safely to create animations without jank, and it's the only animation library that handles SVG animations seamlessly.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="category_cards text-center">
            <div class="category_img category_img_2">
              <img src="../../assets/images/nodejs.png" alt="">
            </div>
            <h4>NodeJs</h4>
            <p>
              Node.js is an open source development platform for executing JavaScript code server-side. Node.js is intended to run on a dedicated HTTP server with one process at a time. Node.js applications are event-based and run asynchronously.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="category_cards text-center">
            <div class="category_img category_img_3">
              <img src="../../assets/images/services/angular-icon-1.svg" alt="">
            </div>
            <h4>Angular.io</h4>
            <p>
              AngularJS is a structural framework for dynamic web apps. It lets to use HTML extend HTML's syntax to express your application's components clearly and succinctly. AngularJS is what HTML would have been, had it been designed for applications.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="category_cards text-center">
            <div class="category_img category_img_4">
              <img src="../../assets/images/services/asp.net.png" alt="">
            </div>
            <h4>asp.net core</h4>
            <p>
              ASP.NET Core is a cross-platform, high-performance, open-source framework for building modern, cloud-based applications. ASP.NET Core build web apps and services, and mobile backends. Use your favorite development tools on Windows, macOS, and Linux.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio_skill_footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="../../assets/images/inspiration.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6">
          <div class="skill_content">
            <h2>Thanks for stay with us</h2>
            <p>
              Greatful to your patience for step aside and go through the whole site. As you have been through whole site it is clear to you that this could be your desired place or not. But without trusting someone it will be quite impossible to select one. So, if you think that is the correct place to work with then please don't hesitate to go ahead.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>