<!--  header part start  -->
<header>
  <div class="header_bg d-none">
    <img src="../../assets/images/mobile-img/header_img.png" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="header_content">
          <h2>Looking for any solutions</h2>
          <p>
            Professional platform that ensures proper satisfaction, helpful for startups with innovative ideas, enthusiastic about lastest tools and conscientious with works.
          </p>
          <div class="banner_btn">
            <a [routerLink]="['/skill']" routerLinkActive="router-link-active" > <span></span>Explore</a>
            <a [routerLink]="['/portfolio']" >Tour Project <img src="assets/images/arrow.svg" alt="" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--  header part end  -->

<!--  conversational part start  -->
<section class="conversational_part">
  <div class="shape_1">
    <img src="assets/images/Shape-1.png" alt="" />
  </div>
  <div class="mobile_shape d-none"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-lg-1 order-2">
        <div class="conversational_part_left">
          <div class="col-lg-10 col-md-10">
            <div class="conversation_topic">
              <div class="numbering">
                <h3>1</h3>
              </div>
              <h2>Proper requirements</h2>
              <p>
                Discussion with appropriate documents, files and other utilites that requires for executing project with resonable date-time.
              </p>
            </div>
          </div>
          <div class="col-lg-10 col-md-10">
            <div class="conversation_topic conversation_topic_2">
              <div class="numbering">
                <h3>2</h3>
              </div>
              <h2>Managing schedules</h2>
              <p>
                Day-to-day update with friendly time-zone, meeting deadlines to manage work properly and getting satisfaction as required.
              </p>
            </div>
          </div>
          <div class="col-lg-10 col-md-10">
            <div class="conversation_topic conversation_topic_3">
              <div class="numbering">
                <h3>3</h3>
              </div>
              <h2>Budget & support</h2>
              <p>
                Unlimited support until getting proper satisfaction, get support free of cost and resonable budget to make your project done.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 order-lg-2 order-1">
        <div class="conversational_part_right">
          <h2>Make effort to be perfect<span>Passionate in this field</span></h2>
          <p>
            Since people are trying to get the better position in their life, it is quiet tough to get that goal without moving forward with this modern world. Time shows us what we are and how we are ! Proper use of time can show the right position of any person.
          </p>
          <div class="list_item">
            <div class="row">
              <div class="col-lg-1 col-1">
                <div class="check_mark">
                  <img src="assets/images/check.png" alt="" />
                </div>
              </div>
              <div class="col-lg-11 col-10">
                <h4>Quick response to the customer</h4>
              </div>
            </div>
          </div>
          <div class="list_item">
            <div class="row">
              <div class="col-lg-1 col-1">
                <div class="check_mark">
                  <img src="assets/images/check.png" alt="" />
                </div>
              </div>
              <div class="col-lg-11 col-10">
                <h4>Discusion about project with full specification</h4>
              </div>
            </div>
          </div>
          <div class="list_item">
            <div class="row">
              <div class="col-lg-1 col-1">
                <div class="check_mark">
                  <img src="assets/images/check.png" alt="" />
                </div>
              </div>
              <div class="col-lg-11 col-10">
                <h4>Getting everyday feedback with demos</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  conversational part end  -->

<!--  Service part start  -->
<section class="service_part">
  <div class="shape_2">
    <img src="assets/images/Shape-2.png" alt="" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="service_left_part">
          <h2>
            There is no bound <br />
            <span>To be skilled as we wish</span>
          </h2>
          <p>
            Most of the cases the lost in interest at newer and newer things can destroy knowledge gathering capability and hence make back-dated. In technology it really importent to move out to catch the latest tools, features and frameworks.
          </p>
          <h3>Want to discuss about project right now-</h3>
          <div class="banner_btn">
            <a [routerLink]="['/contact']"> <span></span>Start Discussion</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="service_right_part">
          <div class="row">
            <div class="col-lg-4 col-6">
              <div class="service_card">
                <div class="arrow_link">
                  <a href="https://medium.com/swlh/ui-ux-design-guide-with-terms-explanations-tips-and-trends-754b9356d914"> <img src="../../assets/images/arrow.svg" alt="" /></a>
                </div>
                <img src="../../assets/images/services/ux.svg" alt="" />
                <h4>UI/UX Design</h4>
              </div>
              <div class="service_card service_card_2">
                <div class="arrow_link">
                  <a href="https://wpastra.com/good-website-design/"> <img src="../../assets/images/arrow.svg" alt="" /></a>
                </div>
                <img src="../../assets/images/services/development.svg" alt="" />
                <h4>Web Design</h4>
              </div>
            </div>
            <div class="col-lg-4 second_service_col col-6">
              <div class="service_card">
                <div class="arrow_link">
                  <a href="https://angular.io/"> <img src="../../assets/images/arrow.svg" alt="" /></a>
                </div>
                <img src="../../assets/images/services/angular-icon-1.svg" alt="" />
                <h4>Angular</h4>
              </div>
              <div class="service_card service_card_2 service_card_3">
                <div class="arrow_link">
                  <a href="https://dotnet.microsoft.com/apps/aspnet"> <img src="../../assets/images/arrow.svg" alt="" /></a>
                </div>
                <img src="../../assets/images/services/asp.net.png" alt="" />
                <h4>asp.net core</h4>
              </div>
              <div class="service_card service_card_2">
                <div class="arrow_link">
                  <a href="https://www.codingame.com/playgrounds/35462/creating-web-api-in-asp-net-core-2-0/part-1---web-api"> <img src="../../assets/images/arrow.svg" alt="" /></a>
                </div>
                <img src="../../assets/images/services/api.svg" alt="" />
                <h4>Web API</h4>
              </div>
            </div>
            <div class="col-lg-4 third_service_col col-6">
              <div class="service_card">
                <div class="arrow_link">
                  <a href="https://www.hostinger.com/tutorials/best-cms"> <img src="../../assets/images/arrow.svg" alt="" /></a>
                </div>
                <img src="../../assets/images/services/cms.svg" alt="" />
                <h4>Custom cms</h4>
              </div>
              <div class="service_card service_card_2">
                <div class="arrow_link">
                  <a href="https://www.mysql.com/"> <img src="../../assets/images/arrow.svg" alt="" /></a>
                </div>
                <img src="../../assets/images/services/mysql.png" alt="" />
                <h4>MySql</h4>
              </div>
              <div class="service_card service_card_2">
                <div class="arrow_link">
                  <a href="https://firebase.google.com/"> <img src="../../assets/images/arrow.svg" alt="" /></a>
                </div>
                <img src="../../assets/images/services/firebase.png" alt="" />
                <h4>Firebase</h4>
              </div>
              <div class="service_card service_card_2">
                <div class="arrow_link">
                  <a href="https://docs.microsoft.com/en-us/aspnet/web-forms/overview/getting-started/getting-started-with-aspnet-45-web-forms/aspnet-error-handling"> <img src="../../assets/images/arrow.svg" alt="" /></a>
                </div>
                <img src="../../assets/images/services/404-error.svg" alt="" />
                <h4>Error Handle</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="service_right_mobile_part d-none">
          <div class="row">
            <div class="col-6 col-md-4">
              <div class="service_card">
                <div class="arrow_link">
                  <a href="#"> <img src="../../assets/images/arrow.svg" alt="" /></a>
                </div>
                <img src="../../assets/images/services/ux.svg" alt="" />
                <h4>UI/UX Design</h4>
              </div>
            </div>
            <div class="col-6 col-md-4">
              <div class="service_card">
                <div class="arrow_link">
                  <a href="#"> <img src="../../assets/images/arrow.svg" alt="" /></a>
                </div>
                <img src="../../assets/images/services/development.svg" alt="" />
                <h4>Web Design</h4>
              </div>
            </div>
            <div class="col-6 col-md-4">
              <div class="service_card">
                <div class="arrow_link">
                  <a href="#"> <img src="../../assets/images/arrow.svg" alt="" /></a>
                </div>
                <img src="../../assets/images/services/angular-icon-1.svg" alt="" />
                <h4>Angular</h4>
              </div>
            </div>
            <div class="col-6 col-md-4">
              <div class="service_card">
                <div class="arrow_link">
                  <a href="#"> <img src="../../assets/images/arrow.svg" alt="" /></a>
                </div>
                <img src="../../assets/images/services/asp.net.png" alt="" />
                <h4>asp.net core</h4>
              </div>
            </div>
            <div class="col-6 col-md-4">
              <div class="service_card">
                <div class="arrow_link">
                  <a href="#"> <img src="../../assets/images/arrow.svg" alt="" /></a>
                </div>
                <img src="../../assets/images/services/api.svg" alt="" />
                <h4>Web API</h4>
              </div>
            </div>
            <div class="col-6 col-md-4">
              <div class="service_card">
                <div class="arrow_link">
                  <a href="#"> <img src="../../assets/images/arrow.svg" alt="" /></a>
                </div>
                <img src="../../assets/images/services/cms.svg" alt="" />
                <h4>Custom cms</h4>
              </div>
            </div>
            <div class="col-6 col-md-4">
              <div class="service_card">
                <div class="arrow_link">
                  <a href="#"> <img src="../../assets/images/arrow.svg" alt="" /></a>
                </div>
                <img src="../../assets/images/services/mysql.png" alt="" />
                <h4>MySql</h4>
              </div>
            </div>
            <div class="col-6 col-md-4">
              <div class="service_card ">
                <div class="arrow_link">
                  <a href="#"> <img src="../../assets/images/arrow.svg" alt="" /></a>
                </div>
                <img src="../../assets/images/services/firebase.png" alt="" />
                <h4>Firebase</h4>
              </div>
            </div>
            <div class="col-6 col-md-4">
              <div class="service_card ">
                <div class="arrow_link">
                  <a href="#"> <img src="../../assets/images/arrow.svg" alt="" /></a>
                </div>
                <img src="../../assets/images/services/404-error.svg" alt="" />
                <h4>Error Handle</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  Service part end  -->

<!--  Connect part start  -->
<section class="connect_part">
  <div class="connect_left_img">
    <img src="assets/images/banner-img-3.png" alt="" />
  </div>
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-lg-6">
        <div class="connect_content">
          <h2>Avaialbility in time-zone <span>Resonable budget </span></h2>
          <p>
            Without proper discussion can be a great thread for project accomplishment. By providing comfortable time-zone can be more useful. Conversational language can be helpful to make concept more clear. And available payment method is needed to transfer money. Since working project is not only the relation that is build between client and developer, the more important fact is faith and trust that help to get support with friendly environment. 
          </p>
          <div class="time_zone">
            <h3>Ready to available at (GMT &plusmn; i); (0 &lt; i &lt; 4 )</h3>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-6">
              <div class="options">
                <img src="assets/images/option-1.svg" alt="" />
                <h4>Language</h4>
                <p>Conversational</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6">
              <div class="options">
                <img src="assets/images/option-2.svg" alt="" />
                <h4>Delivery</h4>
                <p>Appropriately</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6">
              <div class="options">
                <img src="assets/images/option-3.svg" alt="" />
                <h4>Payment</h4>
                <p>Payoneer</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6">
              <div class="options">
                <img src="assets/images/option-4.svg" alt="" />
                <h4>Support</h4>
                <p>Unlimited</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  Connect part end  -->

<!--  portfolio part start  -->
<section class="portfolio_part">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2>
          Some of experience shared
          <span>solving complex problems</span>
        </h2>
        <p>
          The more we work the more we can learn. With the goal to learn the latest javascript framework like gsap, svg animation, canvas, it is really important to make some real solution to this animation. Those works help to think beyond the traditional site and make some professional sites too.
        </p>
      </div>
    </div>
  </div>

  <div class="portfolio_slider" [flickity]="{
      cellAlign: 'left',
      freeScroll: true,
      contain: true,
      autoPlay: true,
      pauseAutoPlayOnHover: false,
      unpausePlayer: false,
      prevNextButtons: false,
      pageDots: false,
      verticalCells: true
    }">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="portfolio_img">
        <div class="portfolio_title">
          <a href="http://cashbaba.com.bd/">
            <h3>Cashbaba</h3>
            <p>
              Payment gateway system
            </p>
          </a>
        </div>
        <img src="../../assets/images/gallery/portfolio-1.png" class="img-fluid" alt="" />
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="portfolio_img">
        <div class="portfolio_title">
          <a href="https://www.pawmaw.com/">
            <h3>Pawmaw</h3>
            <p>
              Finding lost pet
            </p>
          </a>
        </div>
        <img src="../../assets/images/gallery/portfolio-2.png" class="img-fluid" alt="" />
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="portfolio_img">
        <div class="portfolio_title">
          <a href="https://designking99.com/">
            <h3>designking99</h3>
            <p>
              Graphics solutions
            </p>
          </a>
        </div>
        <img src="../../assets/images/gallery/portfolio-3.png" class="img-fluid" alt="" />
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="portfolio_img">
        <div class="portfolio_title">
          <a href="https://eorange.shop/">
            <h3>Eorange</h3>
            <p>
              E-commerce shop
            </p>
          </a>
        </div>
        <img src="../../assets/images/gallery/portfolio-4.png" class="img-fluid" alt="" />
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="portfolio_img">
        <div class="portfolio_title">
          <a href="https://coddez.com/">
            <h3>Coddez</h3>
            <p>
              Software solutions
            </p>
          </a>
        </div>
        <img src="../../assets/images/gallery/portfolio-5.png" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 text-center">
        <div class="banner_btn">
          <a [routerLink]="['/portfolio']"> <span></span>View Gallery</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  portfolio part end  -->

<!-- Pricing part start -->
<section class="pricing_part">
  <div class="pricing_image">
    <img src="../../assets/images/conversation.jpg" class="img-fluid" alt="" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6"></div>
      <div class="col-lg-6">
        <div class="pricing_content">
          <div class="pricing_title">
            <h2>Suitable pricing chart for being straight forward</h2>
            <p>
              In professional sector it really important to have quiet better budget range which help both the client and developer to work with their required budget.
            </p>
          </div>
          <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme" [results]="multi" [gradient]="gradient"
            [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
            (select)="onSelect($event)">
          </ngx-charts-bar-vertical-2d>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Pricing part end -->

<!-- testimonial part start -->
<section class="testimonial_part">
  <div class="mobile_shape d-none"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="service_left_part">
          <h2>
            Success comes at review<br/>
            <span>Excellent quotes</span>
          </h2>
          <p>
            When it was time to get proper mind satisfaction, it can only be found in excellent reviews. It generates more workforce in further project and a review can define someone's skill and performance. 
          </p>
          <div class="list_item">
            <div class="row">
              <div class="col-lg-1 col-1">
                <div class="check_mark">
                  <img src="assets/images/check.png" alt="" />
                </div>
              </div>
              <div class="col-lg-11 col-10">
                <h4>Actual achievement results good review</h4>
              </div>
            </div>
          </div>
          <div class="list_item">
            <div class="row">
              <div class="col-lg-1 col-1">
                <div class="check_mark">
                  <img src="assets/images/check.png" alt="" />
                </div>
              </div>
              <div class="col-lg-11 col-10">
                <h4>Behaviour and honesty is the key to success</h4>
              </div>
            </div>
          </div>
          <div class="list_item">
            <div class="row">
              <div class="col-lg-1 col-1">
                <div class="check_mark">
                  <img src="assets/images/check.png" alt="" />
                </div>
              </div>
              <div class="col-lg-11 col-10">
                <h4>Time management helps to get the actual satisfaction</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="testimonial_slider">
          <div class="testimonial_items">
            <div class="testimonial_image">
              <img src="../../assets/images/arif-hossain.jpg" alt="" />
            </div>
            <h3>Mohammad Arif Hossain</h3>
            <h5>Managing Director at Recursion Technologies Ltd.</h5>
            <p>
              Many thanks for your wonderful work on this project. By far, this is the best web developer I have worked with.
            </p>
          </div>
          <div class="testimonial_items">
            <div class="testimonial_image">
              <img src="../../assets/images/tapos-gosh.png" alt="" />
            </div>
            <h3>Tapos Ghosh</h3>
            <h5>CEO at TuteXp</h5>
            <p>
              The website, looks great! Thanks again for your time. My business partners are appreciative of the great job you did.
            </p>
          </div>
          <div class="testimonial_items">
            <div class="testimonial_image">
              <img src="../../assets/images/man.png" alt="" />
            </div>
            <h3>MKH Sojib Khan</h3>
            <h5>CEO at Coder Hand</h5>
            <p>
              Nothing this cool has ever been created before in such a short time. I appreciate the hard work and keeping it on schedule.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- testimonial part end -->